body {
    font-family: Arial, sans-serif;
    color: #3B3B3B;
    background: #909090;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

.modal-content {
    width: 100% !important;
    margin: 0 auto;
    border: 0;
    overflow: hidden;
    border-radius: 0;
}

.modal-content-mobile {
    max-width: 350px;
}

.modal-content-desktop {
    min-width: 700px;
}

.panel {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: transparent;
}

@media (max-width: 991px) {
    .modal-content-responsive {
        max-width: 350px;
    }
}

@media (min-width: 992px) {
    .modal-content-responsive {
        min-width: 700px;
    }
}

.logo {
    max-width: 60%;
    max-height: 30%;
}

.errorMessage {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    background: #F5F5F5;
    border: 2px solid #D64958;
    color: #D64958;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.inputFieldLabel {
    font-weight: 400;
}

.inputField {
    width: 100%;
    height: 34px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}

.inputField:focus {
    border-color: #66afe9;
    outline: 0;
}

.link {
    text-align: center;
}

.passwordValid {
    color: #19BF00;
}

.passwordInvalid {
    color: #DF3312;
}

.background {
    background-color: #fff;
}

.banner {
    padding: 25px 0 25px 0;
    background-color: lightgray;
    text-align: center;
}

.submitButton {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #99cc66;
}

.submitButton:hover, .submitButton:focus {
    color: #fff;
    background-color: #339933;
}

.footer {
    text-align: center;
    overflow: hidden;
}

.version {
    font-size: smaller;
    padding: 10px 0 10px 0;
}