<div class="checkValidChar">
    <span aria-hidden="true" class="checkValidCharFlag"></span>
    <span class="checkValidCharText"></span>
</div>
<div class="checkLowercase">
    <span aria-hidden="true" class="checkLowercaseFlag"></span>
    <span class="checkLowercaseText"></span>
</div>
<div class="checkUppercase">
    <span aria-hidden="true" class="checkUppercaseFlag"></span>
    <span class="checkUppercaseText"></span>
</div>
<div class="checkSpecial">
    <span aria-hidden="true" class="checkSpecialFlag"></span>
    <span class="checkSpecialText"></span>
</div>
<div class="checkNumber">
    <span aria-hidden="true" class="checkNumberFlag"></span>
    <span class="checkNumberText"></span>
</div>
<div class="checkLength">
    <span aria-hidden="true" class="checkLengthFlag"></span>
    <span class="checkLengthText"></span>
</div>
<div class="checkMatch">
    <span aria-hidden="true" class="checkMatchFlag"></span>
    <span class="checkMatchText"></span>
</div>
